:root{
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --primary-dark-overlays: #2E2F42;
    --primary-success-color: #31D0AA;
    --primary-light-mode-background: #F4F4FD;
    --primary-accent-color: #E7E9FC;

}

/* General Styles */

.header-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    color: #2E2F42
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: #2E2F42; 
}

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455  ;
}

/* Link and Small typography not yet included */

/* Navigation */

header {
    width: 1440px;
    height: 72px; 
    background-color: #fff;
    border: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    background-color: #e7e9fc; /* based on figma*/
}

.header-body-medium ul {
    list-style: none; /* no bullet points from the list */
    padding: 0; /* no default padding */
    margin: 0; /* no default margin */
}

.header-body-medium li {
    display: inline-block; /* Display list items horizontally inside div */
    margin-right: 10px; /* Add spacing between items */
}

.header-body-medium a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #2E2F42;
    text-decoration: none;
    gap: 40px;
}

.contact-info {
    display: flex; /* Display the contact info as a flex container */
    align-items: center;
}

.contact-info a {
    margin-left: 50px; /* Add spacing between email and phone */
    text-decoration: none;
}

.web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    color: #4D5AE5;
}

.studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2E2F42
    ;

}

/* .button-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
} 
*/