:root{
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --primary-dark-overlays: #2E2F42;
    --primary-success-color: #31D0AA;
    --primary-light-mode-background: #F4F4FD;
    --primary-accent-color: #E7E9FC;

}

/* General Styles */

.header-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    color: var(--primary-dark-overlays)
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: #2E2F42; 
}

.body-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455  ;
}

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455  ;
}

/* Link and Small typography not yet included */

/* Navigation */

.navigation-bar {
    width: 1440px;
    height: 72px;
    background: linear-gradient(0deg, #E7E9FC, #E7E9FC), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-bottom: 1px solid var(--primary-accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.centered-logo {
    display: flex;
    align-items: center;
}


.web {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    /* line-height: 21px; */
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--primary-brand-color);
}

.studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    /* line-height: 21px; */
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--primary-dark-overlays);
}

.header-body-medium ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-body-medium li {
    margin-right: 40px;
}

.header-body-medium a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #2E2F42;
    text-decoration: none;
    width: 261px;
    height: 24px;
    display: inline-block;
}

.contact-info {
    display: flex;
    align-items: center;
}

