:root{
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --primary-dark-overlays: #2E2F42;
    --primary-success-color: #31D0AA;
    --primary-light-mode-background: #F4F4FD;
    --primary-accent-color: #E7E9FC;

}

/* General Styles */

.header-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    color: var(--primary-dark-overlays)
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: #2E2F42; 
}

.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455  ;
}

/* Link and Small typography not yet included */

/* Navigation */

